* {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  box-sizing: border-box;
}

.menu-dropdown {
  width: 0;
  height: 0;
  margin-top: -10px;
  position: absolute;
  border-bottom: 10px solid #eeeff0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.notes-field {
  position: relative;
}

.CodeMirror 
.CodeMirror-code 
.cm-header-1{font-size:135%;line-height:115% !important}

.CodeMirror 
.CodeMirror-code 
.cm-header-2{font-size:125%;line-height:125% !important}

.CodeMirror 
.CodeMirror-code 
.cm-header-3{font-size:115%;line-height:115% !important}

.CodeMirror 
.CodeMirror-code 
.cm-header-4{font-size:105%;line-height:105% !important}

::-moz-selection { /* Code for Firefox */
  color: rgb(26, 26, 26); 
  background: rgb(19, 252, 163) !important;
}

::selection {
  color: rgb(26, 26, 26); 
  background: rgb(19, 252, 163) !important;
}

